.flexbox-container {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.currentCity {
}
.Currently {
  font-size: 2.3rem;
  margin-bottom: 0;
}

.flexbox-conditionContainer {
  top: auto;
  display: flex;
}

.flexboxTemp {
  /* min-height: 17rem; */
  display: flex;
  flex-flow: column;
  /* float: left */
}

.flexbox-tempNum {
  font-size: 9rem;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);

  /* float: right; */
  margin: 0;
  padding: 20px 0;
}

.lowHigh {
  margin: 0rem;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  /* width: 15%; */
  text-shadow: 2px 1px rgba(50, 50, 70, 0.5);
}
/* span.lowHigh {
  padding: 0 2rem;
} */

span.lowText {
    padding: 0 1rem;
}
span.highText {
    padding: 0 1rem;
}
span.highdeg {
    padding: 0 1rem;
}
span.lowdeg {
    padding: 0 1rem;
}

.flexbox-icon-descrip {
  margin: 0rem;
  /* float: right; */
  padding: 0.5rem;
  /* min-height: 17rem; */
  text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
}

i.flexbox-icon-descrip {
  font-size: 9rem;
}

.flexbox-description {
  font-size: 2rem;
}

@media (max-width: 775px) and (max-height: 1050px) {
  .flexbox-tempNum {
    font-size: 5rem !important;
  }
}

@media (max-width: 775px) and (max-height: 1050px) {
  i.currentCity {
    padding: 10px !important;
  }
}

@media (max-width: 775px) and (max-height: 1050px) {
  i.flexbox-icon-descrip {
    font-size: 0.4rem !important;
  }
}
