
.flexbox-container {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
.Currently {
  font-size: 2.3rem;
  margin-bottom: 0;
}

.flexbox-conditionContainer {
  top: auto;
  display: flex;
}

.flexboxTemp {
  /* min-height: 17rem; */
  display: flex;
  flex-flow: column;
  /* float: left */
}
.flexbox-tempNum {
  font-size: 9rem;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);

  /* float: right; */
  margin: 0;
  padding: 0;
}

.lowHigh {
  margin: 0rem;
  text-align: center;
  font-size: 2rem;
  width: 15%;
  text-shadow: 2px 1px rgba(50, 50, 70, 0.5);
}
span.lowHigh {
  padding: 0 2rem;
}

.flexbox-icon-descrip {
  margin: 0rem;
  /* float: right; */
  padding: 0.5rem;
  min-height: 17rem;
  text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
}

i.flexbox-icon-descrip {
  font-size: 9rem;
}

.flexbox-description {
  font-size: 2rem;
}

i.SunriseSunset  {
  margin: -1% 1%;
}

.SunIconHome{
  margin: 0 0 4rem 0;
  text-align: center;
  position: relative;
  
}
