
.flexbox-date-container {
  /* font-size: 1.1rem; */
  margin: 0;
  position: absolute;
  width: 100%;
  font-weight: 450;
  display: grid;
  grid-template-rows: 10px repeat(2, auto) 10px;
  /* align-items: center!important; */
  /* justify-content: center!important; */
}


span.ClockDisplay{
    padding: 40px;
  /* font-style: italic; */
  width: 50%;
}



.flexbox-date-container {
    padding: 0 15px;
    margin-top: 3px;
    font-size: 1.2rem;


}