h1.title-container {
  font-size: 3.3rem;
  margin: 0;
  font-weight: 600;
  padding: 0 0 0.1rem 0;
}
.title-container .Title{
  font-size: 3.3rem;
  margin: 1.5rem;
  /* position: absolute; */

  font-weight: 600;
  padding: 0 0 0.5rem 0;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);

}
.title-container .City{
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  margin: 1.5rem;
}
